/*CSS reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*переменные*/
:root {
  --main-color: #49625a;
  --secondary-color: #1b1b1b;
  --background-color: #232323;
  --main-font-color: #fef9f3;
}

.page {
  font-family: "Arial", Helvetica, sans-serif;
  color: var(--main-font-color);
}

/*Header*/
.header {
  inline-size: 100%;
}
.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-block-size: clamp(2.1875rem, 2rem + 0.9375vw, 3.125rem);
  background-color: var(--secondary-color);
}
.header__title {
  justify-self: center;
  align-self: center;
  font-size: clamp(0.625rem, 0.4375rem + 0.9375vw, 1.5625rem);
  font-weight: bold;
}

/*Навигация*/
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.navigation__list {
  display: flex;
  gap: clamp(1.25rem, 0.6875rem + 2.8125vw, 4.0625rem);
}

.navigation__item {
  cursor: pointer;
}
.navigation__item:hover {
  color: #fce1c0;
  transition: color 0.3s ease;
}
.navigation__item:after {
  content: "";
  display: block;
  block-size: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.navigation__item:hover::after {
  background-color: #fce1c0;
}

.link {
  color: inherit;
  font-size: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  text-decoration: none;
}

/*Приветственная секция*/
.about-container {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--background-color);
}

.header__image {
  width: 100%;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: rgba(73, 98, 90, 0.55);
}
.text {
  font-size: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
  color: #ffc67f;
  text-align: center;
}

/*main*/
.main {
  background-color: var(--background-color);
}
/*Секция обо мне*/
.article-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: clamp(3.125rem, 1.875rem + 6.25vw, 9.375rem);
  padding-inline: clamp(1.5625rem, 0.625rem + 4.6875vw, 6.25rem);
}

.article__square {
  position: relative;
  aspect-ratio: 1;
  max-inline-size: 500px;
  background-color: var(--main-color);
}

.article__image {
  position: absolute;
  left: clamp(0.625rem, 0.25rem + 1.875vw, 2.5rem);
  top: clamp(0.625rem, 0.25rem + 1.875vw, 2.5rem);
  aspect-ratio: 1;
  max-inline-size: 500px;
  inline-size: 100%;
}

.article__about-header {
  margin-block-end: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  font-size: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
  text-align: center;
}

.article__about-text {
  margin-inline-start: 40px;
  padding: 10px;
  text-align: center;
  font-size: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
  outline: 3px solid var(--main-color);
  background-color: rgba(73, 98, 90, 0.2);
}

@media (840px >= width) {
  .article-about {
    display: flex;
    flex-direction: column;
  }
  .article__about-header {
    margin-block-start: 30px;
  }
  .article__about-text {
    margin-inline-start: 0;
  }
}

/*Секция с проектами*/
.article-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__projects-title {
  padding-block-end: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  font-size: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
  text-align: center;
}
.article-projects__wrapper {
  display: flex;
  gap: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
}

/*Переключение проектами*/
.article-projects__controls {
  align-self: center;
  inline-size: clamp(0.9375rem, 0.625rem + 1.5625vw, 2.5rem);
  block-size: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.article-projects__controls:hover {
  opacity: 0.7;
}

.button-prev {
  background-image: url(../images/button-slider-left.png);
}
.button-next {
  background-image: url(../images/button-slider-right.png);
}

/*Проекты*/
.cards-container {
  position: relative;
  overflow-x: hidden;
  width: clamp(15rem, 4.25rem + 53.75vw, 68.75rem);
  height: clamp(12.5rem, 6.25rem + 31.25vw, 43.75rem);
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.card__active {
  opacity: 1;
}
.card__image {
  width: 100%;
}
.card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 40px;
  padding-inline: clamp(0.9375rem, 0.625rem + 1.5625vw, 2.5rem);
  padding-block: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
  font-size: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
  background-color: var(--main-color);
}

/*footer*/
.footer {
  background-color: var(--main-color);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-block-size: clamp(2.1875rem, 2rem + 0.9375vw, 3.125rem);
  background-color: var(--secondary-color);
}

.footer__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.footer__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
}

.icon {
  max-block-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  max-inline-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
  inline-size: 100%;
  cursor: pointer;
}
